@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .image-content--product {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    min-width: 90px;
  }
  .product-card {
    background-color: theme("colors.gray-light");
    box-shadow: 0px 2px 6px 1px rgb(0 0 0 / 25%);
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid theme("colors.orange"); */
  }
  .product-card--textContainer {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .product-card--text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
  }
  .product-card--buttonContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .product-card--button {
    background-color: theme("colors.orange");
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .product-card--button:hover {
    background-color: theme("colors.orange");
    transition: 0.3s;
  }
  /* Classe for Product in CART */
  .image-content--product-cart {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50px;
    width: 70px;
  }
  .productAdded--x-icon {
    transform: rotate(45deg);
  }
  .counter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #f16b26;
    border-radius: 2.5rem;
    color: theme("colors.orange");
    font-size: 1rem;
    margin-top: 1rem;
    height: 35px;
  }
  .counter-button {
    border: none;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 800;
    margin: 0px 1rem;
    color: theme("colors.orange");
  }
  .counter-button.disable {
    color: theme("colors.gray");
    cursor: not-allowed;
    pointer-events: none;
  }
}
